<div class="row">

    <div class="col-sm-4 col-sm-offset-4 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <a href="#/"><img id="logo" src="../img/logo.png" alt="logo"></a>
            </div>
            <div class="form-top-right">
                <img ng-click="translate()" id="flag" src=" {{ 'img' | translate }} " alt="flag">
            </div>
        </div>
        <div class="form-bottom">

            <h3>{{ 'contact_header' | translate }}</h3>

            <div class="search-form">

                <a href="#/consultation-registration" class="btn">{{ 'reg_header' | translate }}</a>
                <a href="#/contact-us" class="btn">{{ 'contact' | translate }}</a>
                 <a href="" class="btn"  id="btnHousing" onclick="setColor('btnHousing','#eaeaea');">{{ 'info' | translate }}</a>

                <div class="search">
                    <div class="searchLeft">
                        <input type="number" class="form-control form-number" id="inputPhone" ng-model="phoneSearch"
                               placeholder="{{ 'reg_phone' | translate }}">
                    </div>
                    <div class="searchRight">
                        <img id="search" src="../img/search.png" alt="search"  ng-click="testInput(phoneSearch)">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>