<div class="row" ng-controller="RegistrationListController">


    <div class="col-md-10 col-md-offset-1 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <a href="#/"><img id="logo" src="../img/logo.png" alt="logo" ng-></a>
            </div>
            <div class="form-top-right">
                <img id="flag" ng-click="translate()" src="{{ 'img' | translate }}" alt="flag">
            </div>
        </div>

        <div class="form-bottom">

            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-form navbar-left">
                            <div class="col-sm-10">
                                <select class="form-control" id="inputBank" ng-model="search.bank" required>
                                    <option value="" disabled selected>{{ 'reg_department' | translate }}</option>
                                    <option value="Antakalnio g. 45">Antakalnio g. 45</option>
                                    <option value="Ateisties g. 91 (PC „Mandarinas“)">Ateisties g. 91 (PC
                                        „Mandarinas“)
                                    </option>
                                    <option value="Gedimino pr. 56">Gedimino pr. 56</option>
                                    <option value="Konstitucijos pr. 20A, dirba Būsto centras">Konstitucijos pr. 20A,
                                        dirba Būsto
                                        centras
                                    </option>
                                    <option value="Ozo g. 25 (PPC „Akropolis“)">Ozo g. 25 (PPC „Akropolis“)</option>
                                </select>
                            </div>
                        </li>

                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group no-margin">
                                <input type="text" class="form-control" placeholder="{{ 'reg_customer' | translate }}" ng-model="search">
                            </div>
                        </form>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->


            <div class="div-bottom">


                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>{{ 'reg_date' | translate }}</th>
                        <th>{{ 'reg_department' | translate }}</th>
                        <th>{{ 'reg_subject' | translate }}</th>
                        <th>{{ 'reg_action' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody ng-init="nr=0">
                    <tr ng-repeat="(key, registration) in registrations|filter:search track by $index">
                        <th>{{registration.id}}</th>
                        <th>{{registration.date}}</th>
                        <th>{{registration.bank}}</th>
                        <th>{{registration.subject}}</th>
                        <th><a data-toggle="modal" data-target=".bs-example-modal-big"
                               ng-click="nr = key">{{ 'reg_view' | translate }}</a>
                            <a data-toggle="modal" data-target="#confirm-delete" ng-click="nr = key; info(registration.id)">{{ 'reg_del' | translate }}</a>
                    </tr>
                    </tbody>
                </table>

                <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="deleteModalLabel">{{ 'reg_delConf' | translate }}</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{ 'reg_question' | translate }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-dismiss="modal">{{ 'reg_cancel' | translate }}</button>
                                <a class="btn btn-danger btn-ok" ng-click="showRegId()">{{ 'reg_del' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModal" class="modal fade bs-example-modal-big" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header formFormat">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title">{{ 'reg_viewReg' | translate }}</h2>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal formFormat">
                                    <!--MODAL BODY-->
                                    <div class="form-group">
                                        <label id="modalName" class="col-sm-4">{{ 'reg_name' | translate }}</label>
                                        <div class="col-sm-8">
                                            <p id="modalInputName">{{registrations[nr].name}}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label id="modalSurname" class="col-sm-4">{{ 'reg_surname' | translate }}</label>
                                        <div class="col-sm-8">
                                            <p id="modalInputSurname">{{ registrations[nr].surname}}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label id="modalPhone" class="col-sm-4">{{ 'reg_phone' | translate }}</label>
                                        <div class="col-sm-8">
                                            <p id="modalInputPhone">{{ registrations[nr].number }}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label id="modalEmail" class="col-sm-4">{{ 'reg_email' | translate }}</label>
                                        <div class="col-sm-8">
                                            <p id="modalInputEmail">{{ registrations[nr].email }}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label id="modalBank" class="col-sm-4">{{ 'reg_department' | translate }}</label>
                                        <div class="col-sm-8">
                                            <p id="modalInputBank">{{ registrations[nr].bank }}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label id="modalDate" class="col-sm-4">{{ 'reg_date' | translate }}</label>
                                        <div class="col-sm-8">
                                            <p id="modalInputDate">{{ registrations[nr].date}}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label id="modalTheme" class="col-sm-4">{{ 'reg_subject' | translate }}</label>
                                        <div class="col-sm-8">
                                            <p id="modalInputTheme">{{ registrations[nr].subject}}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label id="modalComments" class="col-sm-4">{{ 'reg_comments' | translate }}</label>
                                        <div class="col-sm-8">
                                            <p id="modalInputComments">{{ registrations[nr].comment}}</p>
                                        </div>
                                    </div>
                                    <!--MODAL BODY END-->
                                </div>

                                <div class="modal-footer">
                                    <p id="modalFooterThanks" class="text-left">{{ 'reg_thanks' | translate }}</p>
                                    <p id="modalFooterInfo" class="text-left">{{ 'reg_thanks2' | translate }}</p>
                                    <button type="button" class="btn"><a href="registration-list.html"
                                                                         id="modalButtonBack">{{ 'reg_submit' | translate }}</a></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>


</div>
<!--
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-form navbar-left">
                            <div class="col-sm-10">
                                <select class="form-control" id="inputBank" ng-model="bank" required>
                                    <option value="" disabled selected>Banko skyrius</option>
                                    <option value="Antakalnio g. 45">Antakalnio g. 45</option>
                                    <option value="Ateisties g. 91 (PC „Mandarinas“)">Ateisties g. 91 (PC
                                        „Mandarinas“)
                                    </option>
                                    <option value="Gedimino pr. 56">Gedimino pr. 56</option>
                                    <option value="Konstitucijos pr. 20A, dirba Būsto centras">Konstitucijos pr. 20A,
                                        dirba Būsto
                                        centras
                                    </option>
                                    <option value="Ozo g. 25 (PPC „Akropolis“)">Ozo g. 25 (PPC „Akropolis“)</option>
                                </select>
                            </div>
                        </li>

                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Klientas">
                            </div>
                        </form>


                    </ul>
                </div>
            </div>
        </nav>



</div>

    --!>